<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Карточка автора
<table border="1">
    <tr><td>Имя</td><td>{{author.first_name}}</td></tr>
    <tr><td>Фамилия</td><td>{{author.last_name}}</td></tr>
    {% if author.birth_year %}
    <tr><td>год рождения:</td><td>{{author.birth_year}}</td></tr>
    {% else %}
    <tr><td>год рождения:</td><td>возраст неизвестен</td></tr>
    {% endif %}
    {% if author.email %}
    <tr><td>e-mail:</td><td>{{author.email}}</td></tr>
    {% endif %}
</table>
</body>
</html>